* {
  box-sizing: border-box;
}

.product-page {
  display: flex;
}

.pictures {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
  margin: 10px 20px;
}

.pictures > img {
  padding: 3px;
  width: 100%;
}

.more-pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.more-pictures > img {
  margin: 2px 2px;
  padding: 2px 1px;
  width: 33%;
}

.details {
  margin: 20px;
}

.details .name {
  text-transform: uppercase;
}

.add-to-cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 40px;
}

.add-to-cart-wrapper .price {
  background-color: #ededed;
  color: #39c2d7;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 100px;
}

.quantity-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 10px;
}

.quantity-wrapper .quantity {
  line-height: 51px;
  font-weight: bold;
}

.quantity input {
  text-align: center;
  width: 40px;
  margin-right: 20px;
}

.quantity-wrapper .cart {
  background-color: #7f993a;
  color: white;
  line-height: 51px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.cart .fa-cart-plus {
  padding-right: 10px;
}

@media (max-width: 1440px) {
  .pictures {
    flex-basis: 25%;
  }

  .more-pictures > img {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .pictures {
    flex-basis: 100%;
  }

  .more-pictures > img {
    width: 40%;
  }

  .product-page {
    flex-direction: column-reverse;
  }

  .quantity-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
